<button
  type="button"
  class="btn feed-actions__button"
  [ngClass]="{'feed-actions__button--active': !!selectedReaction}"
  placement="top-center"
  [ngbPopover]="popOver"
  popoverClass="popover-custom"
  #popOverRef="ngbPopover"
  triggers="manual"
  [autoClose]="true"
  (click)="popOverRef.toggle()"
>
  <i class="bi bi-like mr-2"></i>
  <span *ngIf="selectedReaction" class="feed-actions__description">{{getWordingKey(selectedReaction?.reaction_type) | translate}}</span>
</button>
<ng-template #popOver>
    <popover [data]="options" [popover]="popOverRef">
      <div class="d-flex">
        <button *ngFor="let type of reactionTypes"
          class="btn cf-reaction-select__reaction d-flex flex-column align-items-center mx-1"
          (click)="reactionClick(type)">
          <img class="img-fluid cf-reaction-select__reaction-icon" [src]="type.url"/>
          <span>{{type.display | translate}}</span>
        </button>
      </div>
    </popover>
</ng-template>
