@import 'src/styles/colors';

.cf-navbar {
  height: 70px;
  position: relative;
  box-shadow: 0 0 8px 1px rgba($color-black, .2);

  &__banner {
    color: $color-white;
    font-weight: bold;
    font-size: 1.2em;

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: $color-punch;
    }
  }
}
