@import 'src/styles/colors';
@import 'src/styles/mixins';
@import "~bootstrap/scss/bootstrap";

.cf-navbar {
  height: 70px;
  position: relative;
  box-shadow: 0 0 8px 1px rgba($color-black, .2);

  &__banner {
    color: $color-white;
    font-weight: bold;
    font-size: 1.2em;

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: theme-color('danger');
    }
  }

  &__options {
    max-width: 50%;
    justify-content: space-between;
  }

  & .navbar-nav .nav-link { // Needed for specificity
    @include tabs-width-transition(theme-color('danger'));
    color: $color-mine-shaft;
    font-weight: 700;
    padding: 1.5em 1.5em;
  }

  & .navbar-nav .nav-link__image {
    padding: 1em 1em;
  }
  
  & .navbar-nav .nav-link,
  & .navbar-nav .nav-link__image {
    & i {
      font-size: 1.3em;
    }

    &:hover {
      color: theme-color('danger');
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:after {
      border: 0 !important;
    }
  }
}
