@import url("https://use.typekit.net/hri7bec.css");

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-Regular.ttf');
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-DemiBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-DemiBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-Italic.ttf');
  font-style: italic;
}
