@mixin overlap-elements($overlap-pixels) {
  $number-of-elements: 20;

  @for $i from 0 through $number-of-elements {
    &[data-number-elements='#{$i}'] {
      margin-right: ($i - 1) * $overlap-pixels;
    }

    & > *:nth-child(#{$number-of-elements - $i}) {
      position: relative;
      z-index: $number-of-elements - $i;
      left: ($number-of-elements - $i - 1) * $overlap-pixels;
    }
  }
}

@mixin tabs-width-transition($color, $time: .2s) {
  position: relative;

  &:hover:after,
  &.active:after {
    transition: all $time ease;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
  }

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 0;
    height: 2px;
    transition: all $time ease;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $color;
  }
}
