<div class="row py-4 px-5">
  <div class="col-md-3">
    <div class="mb-4">
      <cf-profile-box></cf-profile-box>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pb-5">
      <cf-create-post></cf-create-post>
    </div>
    <ng-container *ngFor="let feed of feeds">
      <div class="pb-5">
        <cf-feed-item (selectReaction)="reactionClick($event)" [feed]="feed"></cf-feed-item>
      </div>
    </ng-container>
  </div>
  <div class="col-md-3">
    <cf-recent-nofitications></cf-recent-nofitications>
  </div>
</div>