<div class="row py-4 px-5">
  <div class="col-md-3">
    <div class="mb-4">
      <cf-profile-box></cf-profile-box>
    </div>
  </div>
  <div class="col-md-6">
    <ng-container *ngFor="let feed of feeds">
      <div class="pb-5">
        <cf-feed-item
          [feed]="feed"
          (selectReaction)="reactionClick($event)"
          (editPost)="editPost($event)"
          (removePost)="removePost($event)">
        </cf-feed-item>
      </div>
    </ng-container>
  </div>
  <div class="col-md-3">
    <cf-recent-nofitications></cf-recent-nofitications>
  </div>
</div>
<!-- <cf-create-post></cf-create-post> -->
<button class="btn btn-danger cf-feed__add-post" (click)="openPostModal()">
  <svg viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
  </svg>
</button>
