.cf-input {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #999;
  padding: 5px 10px;
  border-radius: 0;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &__wrapper {
    text-align: left;
  }

  &__bordered {
    border-radius: 50px;
    box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
    background-color: #f1f1f1;
    border: none;
  }
}
