<div class="mb-4 cf-input__wrapper">
  <ng-container *ngIf="!multiline; else textarea">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      class="form-control cf-input"
      [ngClass]="{'cf-input__bordered': bordered}"
      (input)="onInput($event.target.value)" />
  </ng-container>
  <div *ngIf="!omitErrorMsg && displayErrorMsg" class="invalid-feedback">
    {{errorMsg | translate}}
  </div>
</div>
<ng-template #textarea>
  <textarea
    [placeholder]="placeholder"
    [rows]="rows"
    [value]="value"
    class="form-control cf-input"
    (input)="onInput($event.target.value)">
  </textarea>
</ng-template>
