@import 'src/styles/colors';
@import "~bootstrap/scss/bootstrap";
@import 'src/styles/mixins';
@import "src/styles/feed-actions";

.feed-item-footer {
  display: flex;
  justify-content: space-between;

  &__reactions {
    @include overlap-elements(-.9em);
    & > * {
      width: 1.7em;
      height: 1.7em;
    }
  }
}
