<div class="feed-item-footer">
  <div class="feed-item-footer__reactions">
    <img *ngFor="let icon of reactionIcons" [src]="icon">
  </div>
  <div class="d-flex">
    <cf-reaction-select (selectReaction)="selectReaction.emit($event)" [selectedReaction]="ownReaction$ | async"></cf-reaction-select>
    <button class="btn feed-actions__button" (click)="commentsClick.emit()">
      <i class="bi bi-chat-bubble mr-2"></i> <span class="feed-actions__description">{{numberOfComments}}</span>
    </button>
  </div>
</div>