@import 'src/styles/colors';
@import "src/styles/feed-actions";
@import "~bootstrap/scss/bootstrap";
@import 'src/styles/mixins';

.feed-item-footer {
  display: flex;
  justify-content: space-between;

  &__reactions {
    @include overlap-elements(-.9em);
    & > * {
      width: 2em;
      height: 2em;
    }
  }
}
