<div class="card p-3 feed-item">
  <div class="card-body">
    <div class="mb-3">
      <cf-feed-item-header
        [feed]="feed"
        (editPost)="editPost.emit($event)"
        (removePost)="removePost.emit($event)">
      </cf-feed-item-header>
    </div>
    <p *ngIf="feed.text" class="card-text feed-item__text mb-3">{{feed.text}}</p>
    <img *ngIf="feed.image_url" [src]="feed.image_url" class="img-fluid rounded feed-item__image">

    <div class="pt-4">
      <cf-feed-item-footer
        [reactions]="feed.reactions"
        [numberOfComments]="feed.comments?.length"
        (selectReaction)="changeReaction($event)"
        (commentsClick)="commentsClick()"
      ></cf-feed-item-footer>
    </div>

    <div *ngIf="displayComments" class="feed-item__comments pt-4">
      <cf-feed-comment-input (post)="addComment($event, feed)"></cf-feed-comment-input>
      <div *ngFor="let comment of feed.comments" class="mb-4">
        <cf-feed-item-comment
          [comment]="comment"
          (update)="editPost.emit(comment)"
          (remove)="removePost.emit(comment)">
        </cf-feed-item-comment>
      </div>
    </div>
  </div>
</div>
